<div class="container-fluid p-4 text-light bg-primary">
    <div class="container">
        <div class="row d-flex">
            <div class="col-12 col-md-6">
                <h2 class="fw-bold">KatariDev</h2>
            </div>
            <div class="col-12 col-md-2">
                <p class="fw-bold">RECURSOS</p>
                <p>Angular</p>
                <p>Bootstrap</p>
                <p>FontAwesome</p>
            </div>
            <div class="col-12 col-md-2">
                <p class="fw-bold">SÍGUEME</p>
                <p>TikTok</p>
                <p>Instagram</p>
                <p>GitHub</p>
            </div>
            <div class="col-12 col-md-2">
                <p class="fw-bold">LEGAL</p>
                <p>Políticas de Privacidad</p>
                <p>Términos y Condiciones</p>
            </div>
        </div>
        <hr>
        <div class="row d-flex">
            <div class="col-12 col-md-6">
                <span>© 2024 KatariDev.</span>
            </div>
            <div class="col-12 col-md-6 links-profiles d-flex flex-wrap justify-content-end align-items-center">
                <a class="d-inline-flex justify-content-center align-items-center text-decoration-none bg-primary text-white p-2" href="https://github.com/CarlosCatari" target="_blank" rel="noopener noreferrer" style="font-size: 20px;"><i class="fa-brands fa-github"></i></a>
                <a class="d-inline-flex justify-content-center align-items-center text-decoration-none bg-primary text-white p-2" href="https://wa.me/51918624808" target="_blank" rel="noopener noreferrer" style="font-size: 20px;"><i class="fa-brands fa-whatsapp"></i></a>
                <a class="d-inline-flex justify-content-center align-items-center text-decoration-none bg-primary text-white p-2" href="mailto:carlos864541@gmail.com" target="_blank" rel="noopener noreferrer" style="font-size: 20px;"><i class="fa-solid fa-envelope"></i></a>
            </div>
        </div>
    </div>
</div>
