<div class="container-fluid p-4 footer-content">
    <div class="container">
        <div class="row d-flex">
            <div class="col-12 col-md-6">
                <h2 class="fw-bold">KatariDev</h2>
            </div>
            <div class="col-12 col-md-2">
                <p class="fw-bold">RECURSOS</p>
                <p>Angular</p>
                <p>Bootstrap</p>
                <p>FontAwesome</p>
            </div>
            <div class="col-12 col-md-2">
                <p class="fw-bold">SÍGUEME</p>
                <p>TikTok</p>
                <p>Instagram</p>
                <p>GitHub</p>
            </div>
            <div class="col-12 col-md-2">
                <p class="fw-bold">LEGAL</p>
                <p>Políticas de Privacidad</p>
                <p>Términos y Condiciones</p>
            </div>
        </div>
        <hr>
        <div class="row d-flex">
            <div class="col-12 col-md-6">
                <span>© 2024 KatariDev.</span>
            </div>
            <div class="col-12 col-md-6 text-end links-profiles">
                <a href="https://github.com/CarlosCatari" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>
                <a href="https://wa.me/51918624808" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-whatsapp"></i></a>
                <a href="mailto:carlos864541@gmail.com" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-envelope"></i></a>
            </div>
        </div>
    </div>
</div>
