<div class="container" id="contacto">
    <div class="row mt-3 mb-3 content-contact">
        <div class="col-12 col-md-6 p-4">
            <h3 class="text-center title-container"><i class="fa-solid fa-address-card"></i>Contacto</h3>
            <p>Si necesitas ayuda en algún proyecto, no dudes en ponerte en contacto conmigo.</p>

            <div class="row">
                <div class="col-12 col-md-4 text-end d-flex align-items-center justify-content-end">
                    <img class="profile d-none d-md-block"  src="images/profile.jpg" alt="profile">
                </div>
                <div class="col-12 col-md-8 mt-4 data-profile">
                    <p><i class="fa-solid fa-location-dot"></i>Av Aviación Km 7.5 Zamácola</p>
                    <p><i class="fa-solid fa-map"></i>Cerro Colorado, Arequipa. Perú</p>
                    <p><i class="fa-solid fa-phone"></i>+51 918 624 808</p>
                    <p><i class="fa-solid fa-envelope"></i>carlos864541&#64;gmail.com</p>
                </div>
            </div>
            <div class="row justify-content-center text-center p-2 links-profiles">
                <a class="m-1" href="https://github.com/CarlosCatari" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>
                <a class="m-1" href="https://discord.com/users/carlosctr" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-discord"></i></a>
                <a class="m-1" href="https://www.linkedin.com/in/carloscatari98" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a>
                <a class="m-1" href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
        <div class="col-12 col-md-6 p-4">
            <h3 class="text-center title-container"><i class="fa-solid fa-address-card"></i>Envíame un mensaje</h3>
            <form action="#">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Nombre:</label>
                    <input type="email" class="form-control border-inputs" id="exampleFormControlInput1" placeholder="Tu nombre">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Correo Electrónico:</label>
                    <input type="email" class="form-control border-inputs" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Asunto:</label>
                    <input type="email" class="form-control border-inputs" id="exampleFormControlInput1" placeholder="Asunto">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1 " class="form-label">Mensaje</label>
                    <textarea class="form-control border-inputs" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <input type="submit" class="btn" value="Enviar mensaje">
            </form>
        </div>
    </div>
</div>
