<div class="container-fluid">
    <div class="row mt-3 mb-3">
        <div class="col-12 col-md-6 p-4">
            <h3 class="text-center title-container"><i class="fa-solid fa-address-card"></i>Contacto</h3>
            <p>Si necesitas ayuda en algún proyecto, no dudes en ponerte en contacto conmigo.</p>

            <div class="row">
                <div class="col-12 col-md-4 text-end d-flex align-items-center justify-content-end">
                    <img class="profile d-none d-md-block"  src="https://images.pexels.com/photos/5474027/pexels-photo-5474027.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="profile">
                </div>
                <div class="col-12 col-md-8 mt-4 data-profile">
                    <p><i class="fa-solid fa-location-dot"></i>Av Aviacion Km 7.5 Zamacola</p>
                    <p><i class="fa-solid fa-map"></i>Arequipa, Arequipa. Peru</p>
                    <p><i class="fa-solid fa-phone"></i>+51 918 624 808</p>
                    <p><i class="fa-solid fa-envelope"></i>carlos864541&#64;gmail.com</p>
                </div>
            </div>
            <div class="row justify-content-center text-center p-2 links-profiles">
                <a class="m-1" href="https://github.com/CarlosCatari"><i class="fa-brands fa-github"></i></a>
                <a class="m-1" href="#"><i class="fa-brands fa-discord"></i></a>
                <a class="m-1" href="#"><i class="fa-brands fa-linkedin"></i></a>
                <a class="m-1" href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
        <div class="col-12 col-md-6 p-4">
            <h3 class="text-center title-container"><i class="fa-solid fa-address-card"></i>Enviame un mensaje</h3>
            <form action="">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Nombre:</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Tu nombre">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Correo Electronico:</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Asunto:</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Asunto">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <input type="submit" class="btn" value="Enviar mensaje">
            </form>
        </div>
    </div>
</div>
