<div class="container" id="contacto">
    <div class="row mt-3 mb-3 text-light">
        <div class="col-12 col-md-6 p-4">
            <h3 class="text-center text-primary title-container"><i class="fa-solid fa-address-card me-2"></i>Contacto</h3>
            <p>Si necesitas ayuda en algún proyecto, no dudes en ponerte en contacto conmigo.</p>

            <div class="row">
                <div class="col-12 col-md-4 text-end d-flex align-items-center justify-content-end">
                    <img class="d-none d-md-block border border-primary rounded-3" src="images/profile.jpg" alt="profile" style="height: 200px; width: 140px;">
                </div>
                <div class="col-12 col-md-8 mt-4">
                    <p class="text-light"><i class="fa-solid fa-location-dot me-2"></i>Av Aviación Km 7.5 Zamácola</p>
                    <p class="text-light"><i class="fa-solid fa-map me-2"></i>Cerro Colorado, Arequipa. Perú</p>
                    <p class="text-light"><i class="fa-solid fa-phone me-2"></i>+51 918 624 808</p>
                    <p class="text-light"><i class="fa-solid fa-envelope me-2"></i>carlos864541&#64;gmail.com</p>
                </div>
            </div>
            <div class="row justify-content-center text-center p-2 links-profiles">
                <a class="m-1 text-primary border border-3 border-primary rounded-circle d-inline-flex align-items-center justify-content-center text-decoration-none" href="https://github.com/CarlosCatari" target="_blank" rel="noopener noreferrer" style="height: 60px; width: 60px; font-size: 40px;"><i class="fa-brands fa-github"></i></a>
                <a class="m-1 text-primary border border-3 border-primary rounded-circle d-inline-flex align-items-center justify-content-center text-decoration-none" href="https://discord.com/users/carlosctr" target="_blank" rel="noopener noreferrer" style="height: 60px; width: 60px; font-size: 40px;"><i class="fa-brands fa-discord"></i></a>
                <a class="m-1 text-primary border border-3 border-primary rounded-circle d-inline-flex align-items-center justify-content-center text-decoration-none" href="https://www.linkedin.com/in/carloscatari98" target="_blank" rel="noopener noreferrer" style="height: 60px; width: 60px; font-size: 40px;"><i class="fa-brands fa-linkedin"></i></a>
                <a class="m-1 text-primary border border-3 border-primary rounded-circle d-inline-flex align-items-center justify-content-center text-decoration-none" href="#" style="height: 60px; width: 60px; font-size: 40px;"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
        <div class="col-12 col-md-6 p-4">
            <h3 class="text-center text-primary"><i class="fa-solid fa-address-card me-2"></i>Envíame un mensaje</h3>
            <form action="#">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Nombre:</label>
                    <input type="text" class="form-control border-2 border-primary" id="exampleFormControlInput1" placeholder="Tu nombre">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput2" class="form-label">Correo Electrónico:</label>
                    <input type="email" class="form-control border-2 border-primary" id="exampleFormControlInput2" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput3" class="form-label">Asunto:</label>
                    <input type="text" class="form-control border-2 border-primary" id="exampleFormControlInput3" placeholder="Asunto">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
                    <textarea class="form-control border-2 border-primary" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <input type="submit" class="btn rounded-2 bg-primary text-light" value="Enviar mensaje">
            </form>
            
        </div>
    </div>
</div>
