.main-height {
    height: 92vh;
    background-position: center;
    background-size: cover;
    animation: zoomBackground 10s infinite alternate;
}
@keyframes zoomBackground {
    0% {
        background-size: 100%;
    }
    100% {
        background-size: 120%;
    }
}
.main-height div h1,
.main-height div h2 {
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-fill-mode: both;
}
@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        visibility: visible;
    }
    100% {
        transform: translateX(0);
    }
}
.content-btn {
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-fill-mode: both;
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 200%, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
.btn-active {
    letter-spacing: 1px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .4);
}
.btn-active:hover {
    transition: all .5s;
    transform: scale(1.1);
}
.btn-animate {
    letter-spacing: 1px;
    outline: none;
    position: relative;
    overflow: hidden;
    transition: all .5s;
    box-shadow: 0px 1px 2px var(--color7);
}
.btn-animate span:nth-child(1) {
    height: 3px;
    width: 200px;
    top: 0px;
    left: -200px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), var(--color7));
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span1 2s linear infinite;
    animation-delay: 1s;
}
@keyframes span1 {
    0% {
        left: -200px
    }
    100% {
        left: 200px;
    }
}
.btn-animate span:nth-child(2) {
    height: 70px;
    width: 3px;
    top: -70px;
    right: 0px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--color7));
    border: 2px solid;
    animation: span2 2s linear infinite;
    animation-delay: 2s;
}
@keyframes span2 {
    0% {
        top: -70px;
    }
    100% {
        top: 70px;
    }
}
.btn-animate span:nth-child(3) {
    height: 3px;
    width: 200px;
    right: -200px;
    bottom: 0px;
    background: linear-gradient(to left, rgba(0, 0, 0, 0), var(--color7));
    border: 2px solid;
    animation: span3 2s linear infinite;
    animation-delay: 3s;
}
@keyframes span3 {
    0% {
        right: -200px;
    }
    100% {
        right: 200px;
    }
}
.btn-animate span:nth-child(4) {
    height: 70px;
    width: 3px;
    bottom: -70px;
    left: 0px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), var(--color7));
    border: 2px solid;
    animation: span4 2s linear infinite;
    animation-delay: 4s;
}
@keyframes span4 {
    0% {
        bottom: -70px;
    }
    100% {
        bottom: 70px;
    }
}
.btn-animate:hover {
    transition: all .5s;
    transform: scale(1.1);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .4);
    background-color: var(--color7);
    color: var(--color6);
}
.btn-animate:hover span {
    animation-play-state: paused;
}