<div class="container-fluid d-flex justify-content-center align-items-center main-height" style="background-image: url(images/fondo.jpg);">
    <div class="text-center">
        <h1>Carlos Catari</h1>
        <h2>Desarrollador de Sistemas de Información</h2>
        <div class="content-btn">
            <a href="#proyectos" class="btn btn-active"><i class="fa-solid fa-briefcase"></i>Proyectos</a>
            <a href="#contacto" class="btn btn-animate">
                <i class="fa-solid fa-comments"></i>Contáctame
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
    </div>
</div>
