<div class="container-fluid d-flex justify-content-center align-items-center main-height" style="background-image: url(images/fondo.jpg);">
    <div class="text-center">
        <h1 class="text-light" style="font-size: 50px;">Carlos Catari</h1>
        <h2 class="text-primary">Desarrollador de Sistemas de Información</h2>
        <div class="content-btn d-flex justify-content-center align-items-center">

            <a href="#proyectos" class="btn btn-active bg-primary py-2 px-4 text-light d-flex justify-content-center align-items-center fw-bold mx-3" style="font-size: 20px;"><i class="fa-solid fa-briefcase"></i>Proyectos</a>

            <a href="#contacto" class="btn btn-animate bg-primary py-2 px-4 text-light d-flex justify-content-center align-items-center fw-bold mx-3" style="font-size: 20px;">
                <i class="fa-solid fa-comments"></i>Contáctame
                <span class="position-absolute d-block"></span>
                <span class="position-absolute d-block"></span>
                <span class="position-absolute d-block"></span>
                <span class="position-absolute d-block"></span>
            </a>
        </div>
    </div>
</div>
