<div class="container-fluid d-flex justify-content-center align-items-center main-height">
    <div class="text-center">
        <h1>Carlos <span>Catari Mamani</span></h1>
        <h2>Desarrollador de sistemas de información</h2>
        <div>
            <button><i class="fa-solid fa-briefcase"></i>Proyectos<span></span><span></span><span></span><span></span></button>
            <button><i class="fa-solid fa-comments"></i>Contáctame<span></span><span></span><span></span><span></span></button>
        </div>
    </div>
</div>
