.marca-logo {
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-fill-mode: both;
}
@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        visibility: visible;
    }
    100% {
        transform: translateX(0);
    }
}
.links-profiles a i {
    transition: transform 0.2s;
}
