<nav class="navbar navbar-expand-lg bg-primary position-fixed w-100" id="inicio" style="z-index: 4;">
    <div class="container">
        <h2 class="h4 text-light fw-bold marca-logo" href="#">&lt;/KatariDev&gt;</h2>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav ms-auto my-2 my-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-light fw-bold my-0 mx-2 d-inline-flex justify-content-center align-items-center text-decoration-none" style="font-size: 18px;" href="#inicio" onmouseover="this.style.transform='scale(1.2)'" onmouseout="this.style.transform='scale(1)'">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light fw-bold my-0 mx-2 d-inline-flex justify-content-center align-items-center text-decoration-none" style="font-size: 18px;" href="#aboutme" onmouseover="this.style.transform='scale(1.2)'" onmouseout="this.style.transform='scale(1)'">Sobre mi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light fw-bold my-0 mx-2 d-inline-flex justify-content-center align-items-center text-decoration-none" style="font-size: 18px;" href="#proyectos" onmouseover="this.style.transform='scale(1.2)'" onmouseout="this.style.transform='scale(1)'">Proyectos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light fw-bold my-0 mx-2 d-inline-flex justify-content-center align-items-center text-decoration-none" style="font-size: 18px;" href="#contacto" onmouseover="this.style.transform='scale(1.2)'" onmouseout="this.style.transform='scale(1)'">Contacto</a>
                </li>
                <li class="d-flex flex-wrap justify-content-center align-items-center links-profiles">
                    <a class="text-light fw-bold my-0 mx-2 d-inline-flex justify-content-center align-items-center text-decoration-none" style="font-size: 18px;" href="https://github.com/CarlosCatari" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github" onmouseover="this.style.transform='scale(1.5)'" onmouseout="this.style.transform='scale(1)'"></i></a>
                    <a class="text-light fw-bold my-0 mx-2 d-inline-flex justify-content-center align-items-center text-decoration-none" style="font-size: 18px;" href="https://wa.me/51918624808" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-whatsapp" onmouseover="this.style.transform='scale(1.5)'" onmouseout="this.style.transform='scale(1)'"></i></a>
                    <a class="text-light fw-bold my-0 mx-2 d-inline-flex justify-content-center align-items-center text-decoration-none" style="font-size: 18px;" href="mailto:carlos864541@gmail.com" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-envelope" onmouseover="this.style.transform='scale(1.5)'" onmouseout="this.style.transform='scale(1)'"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
