<div class="container mt-2" id="proyectos">
    <h3 class="text-center text-primary"><i class="fa-solid fa-briefcase me-2"></i>Proyectos</h3>
    <div class="d-flex justify-content-center flex-wrap mt-4 text-light">
        <div class="container-card bg-success rounded-4 m-2 p-2" style="height: 470px; width: 300px;">
            <img class="rounded-top-2" src="images/portfolio.png" alt="proyecto-portafolio" style="height: 140px; width: 100%;">
            <h5 class="text-center">Portafolio</h5>
            <p class="text-center">2024</p>
            <p class="fs-7">Bienvenido a mi portafolio personal, donde presento una colección de mis trabajos, proyectos y habilidades.</p>

            <div class="d-flex flex-wrap container-icons">
                <a class="m-1 px-1 py-0 d-flex text-align-center justify-content-center text-light rounded-2 text-decoration-none" style="background-color: #d6002f;">
                    <i class="fa-brands fa-angular mx-1 pt-1"></i>
                    <span>Angular</span>
                </a>
                <a class="m-1 px-1 py-0 d-flex text-align-center justify-content-center text-light rounded-2 text-decoration-none" style="background-color: #7952b3;">
                    <i class="fa-brands fa-bootstrap mx-1 pt-1"></i>
                    <span>BootStrap</span>
                </a>
                <a class="m-1 px-1 py-0 d-flex text-align-center justify-content-center text-light rounded-2 text-decoration-none" href="https://github.com/CarlosCatari/CarlosCatari.github.io" target="_blank" rel="noopener noreferrer" style="background-color: rgb(8, 156, 33);">
                    <i class="fa-solid fa-code mx-1 pt-1"></i>
                    <span>Codigo</span>
                </a>
            </div>
            
        </div>

        <div class="container-card bg-success rounded-4 m-2 p-2" style="height: 470px; width: 300px;">
            <img class="rounded-top-2"  src="images/cineboletos.png" alt="proyecto-portafolio" style="height: 140px; width: 100%;">
            <h5 class="text-center">Sistema Venta de Boletos para Cine</h5>
            <p class="text-center">En desarrollo</p>
            <p class="fs-7" >Plataforma diseñada para facilitar la compra y gestión de entradas para funciones cinematográficas, permitiendo a los usuarios seleccionar películas, horarios y asientos, así como realizar pagos de manera segura y rápida. </p>
            <div class="d-flex flex-wrap container-icons">
                <a class="m-1 px-1 py-0 d-flex text-align-center justify-content-center text-light rounded-2 text-decoration-none" style="background-color: #7b7fb5;">
                    <i class="fa-brands fa-php mx-1 mt-1"></i>
                    <span>PHP</span>
                </a>
                <a class="m-1 px-1 py-0 d-flex text-align-center justify-content-center text-light rounded-2 text-decoration-none" style="background-color: #7952b3;">
                    <i class="fa-brands fa-bootstrap mx-1 mt-1"></i>
                    <span>BootStrap</span>
                </a>
                <a class="m-1 px-1 py-0 d-flex text-align-center justify-content-center text-light rounded-2 text-decoration-none" href="https://github.com/CarlosCatari/SistemaBoletosCine" target="_blank" rel="noopener noreferrer" style="background-color: rgb(8, 156, 33);">
                    <i class="fa-solid fa-code mx-1 mt-1"></i>
                    <span>Codigo</span>
                </a>
            </div>
        </div>

        <div class="container-card bg-success rounded-4 m-2 p-2" style="height: 470px; width:300px;">
            <img class="rounded-top-2"  src="images/productos.png" alt="proyecto-portafolio" style="height: 140px; width: 100%;">
            <h5 class="text-center">Sistema de Control de Productos</h5>
            <p class="text-center">En desarrollo</p>
            <p class="fs-7" >Este sistema facilita la gestión y el seguimiento efectivo del inventario de una empresa, controlando los niveles de stock y mejorando la reposición de productos.</p>
            <div class="d-flex flex-wrap container-icons">
                <a class="m-1 px-1 py-0 d-flex text-align-center justify-content-center text-light rounded-2 text-decoration-none" style="background-color: #fd5542;">
                    <i class="fa-brands fa-laravel mx-1 mt-1"></i>
                    <span>Laravel</span>
                </a>
                <a class="m-1 px-1 py-0 d-flex text-align-center justify-content-center text-light rounded-2 text-decoration-none" style="background-color: #08adb9;">
                    <i class="fa-brands fa-bootstrap mx-1 mt-1"></i>
                    <span>Tailwind</span>
                </a>
                <a class="m-1 px-1 py-0 d-flex text-align-center justify-content-center text-light rounded-2 text-decoration-none" href="https://github.com/CarlosCatari/SistemaControlProductos" target="_blank" rel="noopener noreferrer" style="background-color: rgb(8, 156, 33);">
                    <i class="fa-solid fa-code mx-1 mt-1"></i>
                    <span>Codigo</span>
                </a>
            </div>
        </div>
        
    </div>
</div>
