<div class="container-fluid my-4" id="aboutme">
    <div class="container text-light">
        <div>
            <h3 class="text-center text-primary my-4"><i class="fa-solid fa-address-card me-2"></i>Acerca de mi</h3>
            <p class="mb-5">Aunque soy nuevo en el campo profesional de la programación, he estado dedicando tiempo a perfeccionar mis habilidades en el ámbito del backend. Actualmente estoy aplicando a una carrera técnica en Desarrollo de Sistemas de Información.</p>
        </div>
        <div class="d-flex flex-column flex-md-row">
            <div class="col-12 col-md-4">
                <p class="h4">Educación</p>
                <ul>
                    <li>
                        Desarrollo de Sistemas
                    </li>
                    <p>Instituto Jobs Capacity</p>
                    <p>2022 - Presente</p>
                </ul>
            </div>
            <div class="col-12 col-md-8 mb-5 container-cards" id="animado">
                <p class="h4">Habilidades</p>
                <div class="d-flex flex-wrap">
                    <div class="card-skill d-flex flex-column align-items-center text-center my-2 mx-3" style="height: 80px;width: 50px;" >
                        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-plain.svg" alt="html" style="height: 55px; width: 45px;">
                        <span>HTML5</span>
                    </div>
                    <div class="card-skill d-flex flex-column align-items-center text-center my-2 mx-3" style="height: 80px;width: 50px;" >
                        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-plain.svg" alt="css" style="height: 55px; width: 45px;">
                        <span>CSS3</span>
                    </div>
                    <div class="card-skill d-flex flex-column align-items-center text-center my-2 mx-3" style="height: 80px;width: 50px;" >
                        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-plain.svg" alt="js" style="height: 55px; width: 45px;">
                        <span>JavaScript</span>
                    </div>
                    <div class="card-skill d-flex flex-column align-items-center text-center my-2 mx-3" style="height: 80px;width: 50px;" >
                        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/angular/angular-original.svg" alt="js" style="height: 55px; width: 45px;">
                        <span>Angular</span>
                    </div>
                    <div class="d-flex flex-column align-items-center text-center my-2 mx-3" style="height: 80px; width: 50px;" >
                        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/php/php-original.svg" alt="js" style="height: 55px; width: 45px;">
                        <span>PHP</span>
                    </div>
                    <div class="d-flex flex-column align-items-center text-center my-2 mx-3" style="height: 80px; width: 50px;" >
                        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/laravel/laravel-original.svg" alt="js" style="height: 55px; width: 45px;">
                        <span>Laravel</span>
                    </div>
                    <div class="d-flex flex-column align-items-center text-center my-2 mx-3" style="height: 80px; width: 50px;" >
                        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/java/java-original.svg" alt="js" style="height: 55px; width: 45px;">
                        <span>Java</span>
                    </div>
                    <div class="d-flex flex-column align-items-center text-center my-2 mx-3" style="height: 80px; width: 50px;" >
                        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/spring/spring-original.svg" alt="js" style="height: 55px; width: 45px;">
                        <span>Spring</span>
                    </div>
                    <div class="d-flex flex-column align-items-center text-center my-2 mx-3" style="height: 80px; width: 50px;" >
                        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-original.svg" alt="js" style="height: 55px; width: 45px;">
                        <span>MySQL</span>
                    </div>
                    <div class="d-flex flex-column align-items-center text-center my-2 mx-3" style="height: 80px; width: 50px;" >
                        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-original.svg" style="height: 55px; width: 45px;" alt="js">
                        <span>Bootstrap</span>
                    </div>
                    <div class="d-flex flex-column align-items-center text-center my-2 mx-3" style="height: 80px; width: 50px;" >
                        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/tailwindcss/tailwindcss-original.svg" style="height: 55px; width: 45px;" alt="js">
                        <span>Tailwind</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
