:root {
    --color1: #000000;
    --color2: #0c0d1d;
    --color3: #0c032a;
    --color4: #1b133a;
    --color5: #4e4e4e;
    --color6: #c9c9c9;
    --color7: #00a0c4;
}
body{
    padding: 0;
    margin: 0;
    background-color: var(--color2);
}
